/* The typewriter cursor blinking effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* The typewriter cursor blinking effect */
.typewriter {
  overflow: hidden;
  border-right: none; /* Remove the border */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(40, end) forwards, blink-caret .75s step-end 4s infinite paused;
  /* Pausing the blink-caret animation after 4s (same duration as typing animation) */
}
/* The typewriter cursor blinking effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}




  /* padding left for template */
.pad_tem{
  padding-left:16%;
}

/* activeclassName for navbars */
.active {

  color:#6b21a8;
  background-color:#f3e8ff;
  box-shadow: 0 8px 10px rgba(255, 255, 255, 0.4);
 
}

@media screen and (max-width: 640px) {
  .active{
    color:white;
  background-color:#2563eb;
  border:solid #2563eb;
  box-shadow: 0 10px 15px rgba(66, 153, 225, 0.7);


  }
}
/* for contactme height */
.w-dvw{ height: 67vh;
  display:flex;
  align-items: center;
  justify-content: center;}
  @media screen and (min-width: 1200px){
    .w-dvw{
      height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
    }
  }

/* about card height */
.heig{
  height:400px;
}

@media screen and (max-width: 530px) {
  .heig{
   height:100%;
  }
}

  
  #hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    flex-direction: column;
  }
  
    /* .container .hero-title{
    text-align: center;
  }  */
  
  .scroll-down-link {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
  
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    
  }
  
  #one {
    animation: reveal-text 3s ease-in-out forwards;
  
  }
  #two {
    animation: reveal-text 3s ease-in-out forwards;
  
  }
  #three{
    animation: reveal-text 3s ease-in-out forwards;
  
  }
  #four{
    animation: reveal-text 3s ease-in-out forwards;
  
  }

  @media screen and (min-width: 640px) {
    #nav {
        display: none;
    }
}


  @keyframes reveal-text {
    0% {
      opacity: 0;
      transform: translatey(100px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
  
  