@keyframes slideLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideBackToOriginal {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideBackToOriginalRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Plain CSS */
  .animate-slide-left {
    animation: slideLeft 2.5s ease-in-out;
  }
  
  .animate-typewriter {
    display: inline-block;
    animation: typewriter steps(10) infinite;
  }
  
  .animate-image img {
    animation: slideInFromLeft 2s ease-in-out forwards;
  }
  
  .animate-image.animate-back img {
    animation: slideBackToOriginal 1s ease-in-out forwards;
  }
  
  .animate-section img {
    animation: slideInFromRight 2s ease-in-out forwards;
  }
  
  .animate-section.animate-back img {
    animation: slideBackToOriginalRight 1s ease-in-out forwards;
  }
  
  #video-container {
    transition: transform 0.5s ease-in-out;
  }

  img
 {
  max-width: 70%;
  
  height: ;
}